<div id='unique_visitors' class='analytics'>
  <canvas id='unique_visitors' width='200' height='200'></canvas>
</div>

<div id='pageviews' class='analytics'>
  <canvas id='pageviews' width='200' height='200'></canvas>
</div>

<div id='user_agents' class='analytics'>
  <canvas id='user_agents' width='200' height='200'></canvas>
</div>

<div id='visit_duration' class='analytics'>
  <canvas id='visit_duration' width='200' height='200'></canvas>
</div>
